
<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Forms</h2>
        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#forms">Forms</a></li>
            <li><a href="../views/fields/form-fields.html">Fields</a></li>

        </ul>

        <div class="tab-content">

            <div id="forms" class="tab-pane fade in active">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><i class="fa fa-fw fa-sort-desc"></i>Form Name</th>
                            <th><i class="fa fa-fw fa-sort-desc"></i>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td><input type="text" placeholder="Type Form Name" ng-model="form.title"></td>

                            <td>
                                <button ng-click= "addForm(form.title)"  class="btn btn-success">
                                    Add
                                </button>
                                <button ng-click="updateForm()" class="btn btn-info">
                                    Submit</button>
                            </td>

                            </td>
                        </tr>

                        <tr ng-repeat="form in userForms">
                            <td> {{ form.title }}</td>

                            <td>
                            <button ng-click= "selectForm(form)"  class="btn btn-info">
                                Select
                            </button>
                            <button ng-click="deleteForm(form)" class="btn btn-danger">
                                Delete</button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
