<div class="container">

    <h2 class="page-header">Dashboard</h2>

    <h3>Your Bookings and Reviews at one Place</h3>

    <div class="row">

        <div class="table-responsive col-md-12">

            <table class="table table-bordered table-hover table-striped">

                <thead>
                <tr>
                    <th ng-click="model.order('bookingname')" class="hover">

                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'bookingname' && !model.reverse"
                              ng-class="{reverse:!model.reverse}">
                        </span>

                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'bookingname' && model.reverse"
                              ng-class="{reverse:model.reverse}">

                        </span>

                        Place

                    </th>
                    <th>
                         From
                    </th>

                    <th>
                        To
                    </th>

                    <th ng-click="model.order('firstName')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'firstName' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'firstName' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>
                        Status
                    </th>
                    
                    <th>
                        Action
                    </th>
                </tr>
                </thead>

                <tbody>



                <tr ng-repeat="booking in model.bookings | orderBy:model.predicate:model.reverse">
                    <td class="col-md-2">
                        {{booking.property_id}}
                    </td>

                    <td class="col-md-2">
                        {{booking.start_date | date:'medium'}}

                    </td>

                    <td class="col-md-2">
                        {{booking.end_date | date:'medium'}}

                    </td>


                    <td class="col-md-2">
                        {{booking.state}}
                    </td>

                    <td class="col-md-2">


                        <button ng-click="model.removeBooking(booking)" class="btn btn-danger">
                            Delete
                        </button>


                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>