
<div class="container-fluid">


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Platform 9 Assignment!!</h1>
        <p> Requirements: <br>
            1) Retrieve and render a collection of objects from a server, handle state transitions, maintain consistency across clients
            Using languages, frameworks and tools of your choice, implement the following:
            <br>
            2) A web service that exposes a REST interface, and allows the client to retrieve a collection of objects.
            Each object has the following attributes: id, and 'color'. Color can be one of red, green or blue.
            <br>
            3) A client UI that:
            Retrieves the collection of objects from the web service
            Displays objects while grouping them based on the associated color
            Allows the user to reassign any object to a different color
            Multiple users can load and use different client UI sessions simultaneously, and they all should be able to see the correct state (i.e. color) of each object, irrespective of which one of them changed any object. For e.g. multiple browser sessions loaded with the client should all be consistent.

        </p>

        <button class="btn btn-success"> <a href="#/edit">Test Here</a> </button>
        <button class="btn btn-success"> <a href="#/documentation">Documentation</a> </button>
    </div>

</div>

