.control-label-left
{

    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;

}


.control-label-right
{

    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;

}

.large-glyphicons>span
{
    font-size: 2em;
}

.hide-icon
{
    visibility: hidden;
}


.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


#slides_control>
div{
    height: 170px;
}
img{
    margin:auto;
    width: 260px;
}
#slides_control {
    position:absolute;
    width: 260px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

.loginRegister{
    width: 60%;
    align:center;
    margin:auto;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}


.propertyDetails{
    width: 80%;
    align:center;
    margin:auto;
}

.owner{
    text-align: center;
    align:center;
    margin:auto;
}

.PropertyReviews{
    max-height: 500px;

}
.PropertyReviews img{
    width: 150px;
    height:150px;

}