<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" xmlns="http://www.w3.org/1999/html">
    <h1 class="page-header">Forms</h1>

    <div class="container">

        <div class="row" id="forms-container">

            <ul class="nav nav-pills" id="my-nav">

                <li role="presentation">
                    <a href="#/forms">Forms</a>
                </li>
                <li class="active" role="presentation">
                    <a href="#">Fields</a>
                </li>

            </ul>

            <form action="" id="my-form" field-sortable field-axis="y">

                <div class="row" ng-repeat="field in model.fields">

                    <div class="form-group col-md-8" ng-switch on="field.type">

                        <!-- For text and date fields-->
                        <div ng-switch-default>

                            <label for="{{field._id}}">{{field.label}}</label>
                            <input type="{{field.type}}" class="form-control"
                                   placeholder="{{field.placeholder}}"
                                   id="{{field._id}}">

                        </div>

                        <div ng-switch-when="TEXTAREA">

                            <label for="{{field._id}}">{{field.label}}</label>
                            <textarea class="form-control"
                                      placeholder="{{field.placeholder}}"
                                      id="{{field._id}}" rows="3"></textarea>

                        </div>

                        <!--For dropdown fields-->
                        <div ng-switch-when="OPTIONS">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <select name="{{field.label}}" id="{{field._id}}" class="form-control">

                                <option ng-repeat = "option in field.options"
                                        value="{{option.value}}">{{option.label}}</option>

                            </select>
                        </div>

                        <!--For Checkbox-->
                        <div ng-switch-when="CHECKBOXES">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <div ng-repeat = "option in field.options">
                                <input
                                        type="checkbox"
                                        name="{{field.label}}"
                                        value="{{option.value}}">
                                {{option.label}}
                                <br>
                            </div>
                        </div>

                        <!--For radio buttons-->
                        <div ng-switch-when="RADIOS">

                            <label for="{{field._id}}">{{field.label}}</label>

                            <div ng-repeat = "option in field.options">
                                <input
                                        type="radio"
                                        name="{{field.label}}"
                                        value="{{option.value}}">
                                {{option.label}}
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 text-center">

                        <span class="glyphicon glyphicon-pencil hover" ng-click="model.editField($index)"></span>
                        <span class="glyphicon glyphicon-remove hover" ng-click="model.removeField($index)"></span>
                        <span class="glyphicon glyphicon-align-justify hover"></span>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-8 no-bottom-margin">

                        <label>Add new field:</label>

                        <select name="new-field" id="new-field" class="form-control"
                                ng-model="model.fieldType"
                                ng-options="option.name for option in model.options track by option.value"
                                ng-init="model.options[0]">

                            <option value="{{option.value}}">{{option.name}}</option>

                        </select>

                    </div>

                    <div class="col-md-4 text-center">

                        <span class="glyphicon glyphicon-plus hover" ng-click="model.addField()"></span>

                        <span class="glyphicon glyphicon-remove hover not-visible"></span>

                        <span class="glyphicon glyphicon-align-justify hover not-visible"></span>

                    </div>

                </div>

            </form>

        </div>

    </div>
    <script type="text/ng-template" id="fieldEditModal.html">

        <div class="modal-header" ng-switch on="field.type">

            <h3 class="modal-title" ng-switch-default>
                Single Line Field
            </h3>

            <h3 class="modal-title" ng-switch-when="TEXTAREA">
                Multiple Lines Field
            </h3>

            <h3 class="modal-title" ng-switch-when="DATE">
                Date Field
            </h3>

            <h3 class="modal-title" ng-switch-when="OPTIONS">
                Dropdown Field
            </h3>

            <h3 class="modal-title"  ng-switch-when="CHECKBOXES">
                Checkbox Field
            </h3>

            <h3 class="modal-title" ng-switch-when="RADIOS">
                Radio Button Field
            </h3>
        </div>

        <form class="modal-body form" ng-switch on="field.type">

            <div class="row" ng-switch-when="TEXT">

                <div class="form-group col-md-12">

                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">

                </div>

                <div class="form-group col-md-12">

                    <label for="placeholderForField">Placeholder</label>
                    <input type="text" id="placeholderForField" class="form-control" ng-model="$parent.newPlaceholder">

                </div>

            </div>

            <div class="row" ng-switch-when="DATE">

                <div class="form-group col-md-12">

                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">

                </div>

            </div>

            <div class="row" ng-switch-when="TEXTAREA">

                <div class="form-group col-md-12">

                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">

                </div>

                <div class="form-group col-md-12">

                    <label for="placeholderForField">Placeholder</label>
                    <textarea type="text" id="placeholderForField" class="form-control"
                              ng-model="$parent.newPlaceholder" rows="3">

                    </textarea>

                </div>

            </div>

            <div class="row" ng-switch-default>

                <div class="form-group col-md-12">

                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">

                </div>

                <div class="form-group col-md-12">

                    <label for="optionsForField">Options</label>

                    <textarea name="" id="optionsForField" rows="3" class="form-control"
                              ng-model="$parent.newPlaceholder">

                    </textarea>

                </div>

            </div>

        </form>

        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="ok()">OK</button>

            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

        </div>
    </script>

</div>