<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms</h1>

        <ul class="nav nav-tabs" id="my-nav">

            <li ng-class="{'active': model.$location.url() == '/forms'}" role="presentation">
                <a href="#/forms">Forms</a>
            </li>

        </ul>

        <div class="table-responsive" id="forms-n-fields-tbl">

            <table class="table table-bordered table-striped">

                <thead class="thead-inverse">
                <tr>
                    <th>

                        Form Name
                    </th>
                    <th>

                        Action
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td >
                        <input type="text" placeholder="Name" class="form-control" ng-model="model.form.title">
                    </td>
                    <td class="col-md-2 right-align-cell">

                        <button ng-click= "model.addForm(model.form)" class="btn btn-success">
                            Add
                        </button>

                        <button ng-click="model.updateForm(model.form)" class="btn btn-info">
                            Update
                        </button>

                    </td>
                </tr>
                <tr ng-repeat="form in model.forms">
                    <td>

                        <a href="#/form/{{form._id}}/fields">{{form.title}}</a>

                    </td>
                    <td>

                        <button ng-click= "model.selectForm($index)"  class="btn btn-info">
                            Select
                        </button>

                        <button ng-click="model.deleteForm($index)" class="btn btn-danger">
                            Delete
                        </button>

                    </td>
                </tr>
                </tbody>

            </table>

        </div>


    </div>

</div>


