<div class="container">

    <h3 class="page-header">Dear Manager! Manage your all boooking requests</h3>

    <h3>Bookings Till Date</h3>
    <div class="row">

        <div class="table-responsive col-md-12">

            <table class="table table-bordered table-hover table-striped">

                <thead>
                <tr>
                    <th ng-click="model.order('bookingname')" class="hover">

                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'bookingname' && !model.reverse"
                              ng-class="{reverse:!model.reverse}">
                        </span>

                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'bookingname' && model.reverse"
                              ng-class="{reverse:model.reverse}">

                        </span>

                        User ID

                    </th>
                    <th>
                        Start Date
                    </th>
                    <th ng-click="model.order('firstName')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'firstName' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'firstName' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>

                        End Date
                    </th>
                    <th ng-click="model.order('lastName')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'lastName' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'lastName' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>

                      Property ID
                    </th>
                    <th>
                       State
                    </th>
                    <th>
                        Take Action
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="User ID" ng-model="model.booking.user_id">
                    </td>
                    <td class="col-md-2">

                    </td>
                    <td class="col-md-2">

                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="Property ID" ng-model="model.booking.property_id">
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="Reservation State" ng-model="model.booking.state">
                    </td>
                    <td class="col-md-2">

                        <button ng-click="model.updateBooking(model.booking)" class="btn btn-info">
                            Update
                        </button>


                    </td>
                </tr>
                <tr ng-repeat="booking in model.bookings | orderBy:model.predicate:model.reverse">
                    <td class="col-md-2">
                        {{booking.user_id}}
                    </td>
                    <td class="col-md-2">

                        {{booking.start_date | date:'medium'}}

                    </td>
                    <td class="col-md-2">
                        {{booking.end_date| date:'medium'}}
                    </td>
                    <td class="col-md-2">
                        {{booking.property_id}}
                    </td>
                    <td class="col-md-2">
                        {{booking.state}}
                    </td>
                    <td class="col-md-2">

                        <button ng-click= "model.selectBooking(booking)"  class="btn btn-info">
                            Select
                        </button>

                        <button ng-click="model.removeBooking(booking)" class="btn btn-danger">
                            Delete
                        </button>


                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>