<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

    <h1 class="page-header">Admin</h1>

    <h2>Users</h2>

    <div class="row">

        <div class="table-responsive col-md-12">

            <table class="table table-bordered table-hover table-striped">

                <thead>
                <tr>
                    <th ng-click="model.order('username')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'username' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'username' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th ng-click="model.order('firstName')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'firstName' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'firstName' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>
                        First Name
                    </th>
                    <th ng-click="model.order('lastName')" class="hover">
                        <span class="sortorder glyphicon glyphicon-triangle-top hover"
                              ng-show="model.predicate === 'lastName' && !model.reverse"
                              ng-class="{reverse:!model.reverse}"></span>
                        <span class="sortorder glyphicon glyphicon-triangle-bottom hover"
                              ng-show="model.predicate === 'lastName' && model.reverse"
                              ng-class="{reverse:model.reverse}"></span>
                        Last Name
                    </th>
                    <th>
                        Roles
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="Username" ng-model="model.user.username">
                    </td>
                    <td class="col-md-2">
                        <input type="password" class="form-control" placeholder="Password" ng-model="model.user.password">
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="model.user.firstName">
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="model.user.lastName">
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" placeholder="Roles" ng-model="model.user.roles">
                    </td>
                    <td class="col-md-2">
                        <span class="glyphicon glyphicon-plus glyphicon-big hover" ng-click="model.addUser(model.user)"></span>
                        <span class="glyphicon glyphicon-ok glyphicon-big hover" ng-click="model.updateUser(model.user)"></span>
                    </td>
                </tr>
                <tr ng-repeat="user in model.users | orderBy:model.predicate:model.reverse">
                    <td class="col-md-2">
                        {{user.username}}
                    </td>
                    <td class="col-md-2">
                        <input type="password" ng-model="user.password" class="form-control" readonly>
                    </td>
                    <td class="col-md-2">
                        {{user.firstName}}
                    </td>
                    <td class="col-md-2">
                        {{user.lastName}}
                    </td>
                    <td class="col-md-2">
                        {{user.roles.join(', ')}}
                    </td>
                    <td class="col-md-2">
                        <span class="glyphicon glyphicon-remove glyphicon-big hover" ng-click="model.removeUser(user)"></span>
                        <span class="glyphicon glyphicon-pencil glyphicon-big hover" ng-click="model.selectUser(user)"></span>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>