<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="propertySearch">

            <form id="form-horizontal" role="form">

                <h2 class="page-header">Search Places to host Event</h2>
                <fieldset>

                    <br class="form-group col-md-4 center-block">

                    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="result1"/>
                    <br>
                    <button id="button1id" name="button1id" class="btn btn-success"
                            ng-click="getGeoCode(result1)">Search
                    </button>


                </fieldset>

                <div> You Selected: {{result1}}</div>
                <div> For testing use Address as Northeastern university</div>


                <div> Instructions : 1) Type any boston, NY address
                    2) Select one from the predictive drop box
                    3) After selecting address only press search !
                </div>


            </form>
        </div>

    </div>

</div>

