<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active': $location.url()=='/home'}"><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
            <li ng-show="currentUser.username" ng-class="{'active': $location.url()=='/profile'}" ><a href="#/profile">Profile</a></li>
            <li ng-class="{'active': $location.url()=='/admin'}"><a href="#/admin">Admin</a></li>
            <li ng-show="currentUser.username" ng-class="{'active': $location.url()=='/forms'}" ><a href="#/forms">Forms</a></li>
        </ul>

    </div>
</div>
