<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">


            <!-- For Date input and guests-->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>
                        From Date
                    </label>

                    <input type="date" class="form-control" placeholder="From Date">

                    <label>
                        Till Date
                    </label>

                    <input type="date" class="form-control" placeholder="Till Date">
                </div>
                <br> <br>

                <div class="form-group">

                    <label>Event Type</label>

                    <select class="form-control" ng-model="event.Type">
                        <option value="1">Birthday Party</option>
                        <option value="2">Marriage</option>
                        <option value="3">Hangout</option>

                    </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <label>Guests</label>

                    <select class="form-control" ng-model="event.NoOfGuests">
                        <option value="1">Less than 10</option>
                        <option value="2">10-50</option>
                        <option value="3">50-100</option>
                        <option value="3">More than 100</option>

                    </select>

                    <button type="submit" class="btn btn-success">Search</button>

                </div>

            </form>



            <br> </br>
            <div class="row">

                <div class="col-md-12 pre-scrollable">
                    <div>

                        <div class="table-responsive" id="forms-n-fields-tbl">

                            <table class="table table-bordered table-striped">

                                <tbody>

                                <tr ng-repeat="property in model.properties">
                                    <td>

                                        <a href="#/property/{{property._id}}/propertyDetails" target="_blank">
                                            <img alt="Bootstrap Image Preview" src="https://placeimg.com/150/150/arch"/>
                                        </a>

                                        {{property.title}}

                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>


                    </div>

                </div>
            </div>


        </div>


        <div class="col-md-6 container">
            <h3> Best places in your City</h3>
            <!-- For map stuff-->

            <style type="text/css">
                html, body {

                }

                .map2 {

                    width: 600px;
                    height: 450px;

                }
            </style>


            <div id="map1" class="map2"></div>
            <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
            </div>


        </div>
    </div>
</div>






