<div class="container-fluid">

    <div class="row">
        <div>
            <div class="propertyMainImage">
                <img src="http://lorempixel.com/1000/300/city/"
                     class="img-responsive"/>
            </div>

        </div>

    </div>

    <div class="row propertyDetails">
        <div class="col-md-12">
            <!-- Property Background Image-->

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 owner">
                        <!-- Property Host Profile Image-->
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/200/200/people/"
                             class="img-circle img-responsive"/>

                        <h4>Hosted By:</h4>
                        <h4>
                            {{model.property.owner}}
                        </h4>
                    </div>

                    <!-- Property Title and Address-->

                    <div class="col-md-8">
                        <h3 class="text-left">
                            {{model.property.title}}
                        </h3>
                        <!-- <address>
                             <strong>Address:, Inc.</strong><br/> 795 Folsom Ave, Suite 600<br/> Boston,
                             MA
                             94107<br/>
                         </address>-->
                        <h3>
                            {{model.property.cost | currency:"$"}} / Day
                        </h3>

                    </div>
                </div>

                <!-- Property Features-->
                <h3>Amenities Available:</h3>
                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive">

                            <table class="table table-bordered table-striped">

                                <thead class="thead-inverse">
                                <tr>
                                    <th>
                                        <span class="glyphicon glyphicon-triangle-bottom hover"></span>
                                        Feature
                                    </th>
                                    <th>
                                        <span class="glyphicon glyphicon-triangle-bottom hover"></span>
                                        Availability
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="facility in model.property.facilities">
                                    <td>
                                        {{facility}}
                                    </td>
                                    <td>
                                        <button class="btn btn-success">
                                            Yes
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br> <br>
                <!-- More Images of the Property-->
                <h2>Browse more photos</h2>
                <img
                        alt="Bootstrap Image Preview" src="http://lorempixel.com/700/400/city/"
                        class="img-responsive"/>

                <!-- Review Posted By user For property -->
                <h2>Your reviews </h2>

                <div class="row">

                    <div class="table-responsive col-md-12">

                        <table class="table table-bordered table-hover table-striped">

                            <thead>
                            <tr>
                                <th class="hover">

                                    Review

                                </th>

                                <th  class="hover">

                                    Date Posted
                                </th>

                                <th>
                                    Action
                                </th>

                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td class="col-md-6">

                                    <div class="form-group">

                                        <textarea class="form-control" rows="3" placeholder="Write Your Review" ng-model="model.a_review.review"></textarea>

                                    </div>

                                </td>

                                <td class="col-md-3">

                                </td>

                                <td class="col-md-3">

                                    <button ng-click= "model.addReview(model.a_review)" class="btn btn-success">
                                        Add
                                    </button>

                                    <button ng-click="model.updateReview(model.a_review)" class="btn btn-info">
                                        Update
                                    </button>


                                </td>
                            </tr>
                            <tr ng-repeat="user_review in model.userReviews">

                                <td class="col-md-2">
                                    {{user_review.review}}
                                </td>

                                <td class="col-md-2">
                                    {{user_review.date_posted | date:'medium'}}
                                </td>


                                <td class="col-md-2">

                                    <button ng-click= "model.selectReview(user_review)"  class="btn btn-info">
                                        Select
                                    </button>

                                    <button ng-click="model.removeReview(user_review)" class="btn btn-danger">
                                        Delete
                                    </button>

                                </td>
                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


                <!-- ALL Reviews Section about the property Host-->

                <div class="row ">
                    <div class="col-md-12">
                        <h2>All Reviews: </h2>
                        <!-- Review Section List of the property -->
                        <div class="row ">
                            <div class="col-md-4">
                                <h4>Summary </h4>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-8">
                                <h4>Overall Ratings: 4/5 </h4>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 PropertyReviews">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr ng-repeat="review in model.reviews">

                                            <td class="col-md-3">
                                                <img alt="Bootstrap Image Preview"
                                                     src="http://lorempixel.com/150/150/people/"
                                                     class="img-circle img-responsive"/>
                                            </td>

                                            <td class="col-md-9">
                                                <blockquote>
                                                    <p>
                                                        "{{review.review}}"
                                                    </p>
                                                    <p>
                                                        - Posted On {{review.date_posted | date }}
                                                    </p>

                                                </blockquote>

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <br>
                <br>

                <!-- <h3> More About Host:
                 </h3>
                 <div class="row">

                     &lt;!&ndash; More information about host of the property / Profile of host&ndash;&gt;
                     <div class="col-md-4">
                         <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/"
                              class="img-circle"/>
                     </div>
                     <div class="col-md-8">

                         &lt;!&ndash; Summary of Host&ndash;&gt;
                         <h4>
                             Hello there My name John Doe
                             I am happy to assist you for hositng your event!
                         </h4>

                     </div>
                 </div>-->


            </div>


            <!-- Booking tab fixed right Side -->

            <div class="col-md-3">
                <div class="bookingTab">

                    <form role="form">
                        <div class="form-group">

                            <label for="checkIn">
                                Check In
                            </label>
                            <input type="date" class="form-control" id="checkIn" ng-model="model.booking.start_date"/>
                        </div>

                        <div class="form-group">

                            <label for="checkOut">
                                Check Out
                            </label>
                            <input type="date" class="form-control" id="checkOut" ng-model="model.booking.end_date"/>
                        </div>


                        <div class="form-group">

                            <label for="checkIn">
                                Guests
                            </label>
                            <input type="text" class="form-control" id="guests" ng-model="model.booking.number_guest"/>
                        </div>


                        <button class="btn btn-success"
                                ng-click="model.bookThePlace(model.booking)">
                            Book Place Now!
                        </button>


                        <!-- Modal
                         <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

                        -->




                    </form>

                </div>

            </div>

        </div>
    </div>

</div>
