<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Property Background Image-->

            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/800/300/"/>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Property Host Profile Image-->
                            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle"/>
                            <h3>
                                Property Host Name:
                            </h3>
                        </div>

                        <!-- Property Title and Address-->

                        <div class="col-md-8">
                            <h3 class="text-left">
                                Title: Great Party Place
                            </h3>
                            <address>
                                <strong>Address:, Inc.</strong><br/> 795 Folsom Ave, Suite 600<br/> San Francisco, CA
                                94107<br/> <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>

                    <!-- Property Features-->

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Amenities/ Features available !!!
                            </p>
                        </div>
                    </div>

                    <!-- More Images of the Property-->
                    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/200/300/"/>


                    <!-- Review Section about the property Host-->

                    <div class="row">
                        <div class="col-md-4">
                            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle"/>
                        </div>
                        <div class="col-md-8">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                                    ante.
                                </p>
                                <small>Someone famous <cite>Source Title</cite></small>
                            </blockquote>
                        </div>
                    </div>


                    <div class="row">

                        <!-- More information about host of the property / Profile of host-->
                        <div class="col-md-4">
                            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle"/>
                        </div>
                        <div class="col-md-8">
                            <dl>
                                <dt>
                                    Host Information !!
                                </dt>
                                <dd>
                                    A description list is perfect for defining terms.
                                </dd>
                                <dt>
                                    Euismod
                                </dt>

                            </dl>
                        </div>
                    </div>
                </div>



                <!-- Booking tab fixed right Side -->

                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">

                            <label for="checkIn">
                                Check In
                            </label>
                            <input type="date" class="form-control" id="checkIn"/>
                        </div>

                        <div class="form-group">

                            <label for="checkOut">
                                Check Out
                            </label>
                            <input type="date" class="form-control" id="checkOut"/>
                        </div>


                        <div class="form-group">

                            <label for="checkIn">
                                Guests
                            </label>
                            <input type="text" class="form-control" id="guests"/>
                        </div>


                        <button type="submit" class="btn btn-success">
                            Book Now!
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>