<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Banquet!!</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active':$location.url()=='/addProperty'}" ng-show="currentUser.roles.indexOf('manager') > -1">

                    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                        <strong>Manage Properties</strong>
                        <span class="caret"></span>
                    </a>

                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li> <a href="#/property/addProperty">Add New Property</a></li>
                        <li> <a href="#/manager">Booking Requests</a></li>
                    </ul>

                </li>


                <li ng-class="{'active':$location.url()=='/userdashboard'}" ng-show="currentUser.username"><a href="#/userdashboard"> My Bookings </a></li>

                <li ng-class="{'active':$location.url()=='/login'}" ng-hide="currentUser.username"><a href="#/login"> Login </a></li>

                <li ng-class="{'active':$location.url()=='/register'}" ng-hide="currentUser.username"><a href="#/register"> Register </a></li>

                <li ng-class="{'active':$location.url()=='/profile'}" ng-show="currentUser.username"><a href="#/profile"> {{currentUser.username}} </a></li>

                <li ng-show="currentUser.username" ng-click="model.logout()" > <a href="#/home" data-toggle="collapse" >Logout</a> </a> </li>
            </ul>



            <script type="javascript">
                $(document).on('click','.navbar-collapse.in',function(e) {
                    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
                        $(this).collapse('hide');
                    }
                });
            </script>

        </div>
    </div>
</nav>
